
@media screen and (max-width:820px) {
    nav{
        width: 100vw;
        
        >.logo {
            img{
                height: 6rem;
                width: 8rem;
            }
        }
        >.menu{
            display: none;
        }
        >.search-cart{
            font-size: 1.5rem;
        }
    }
    main{
        overflow: hidden;
    }
    .footer-container{
        overflow: hidden;
        >footer{
            
            height: max-content;
            flex-direction: column;

            >.f-box{
                margin-top: 2rem;
                height:max-content ;
                width: 18.7rem;

                >h3{
                    margin-top: 2rem;
                }
            }
            >.follow-us{
                margin-bottom: 2rem;
            }
        }
        >.chat-with-us{
            right: 2rem;
            height: 4.5rem;
            width: 10.5rem;
            >a{
                font-size: 1.2rem;
            }
    
        }
    }
}